.profile, .user-friends {
  @include span-columns(6);
  @include shift(3);
}

.profile {
  background-color: $delta-color;
  border-radius: 0.625em;
  border-bottom: 0.5em solid $charlie-color;
  // overflow: auto;
  margin-bottom: 0.5em;
  padding: 0.5em;
}

.profile:first-of-type {
  margin-top: 0.5em;
}

.profile img {
  @include span-columns(2);
  // min-height: 100px;
  min-width: 4.6875em;
  max-width: 4.6875em;
  border-radius: 50%;
  background-color: $delta-color;
  margin-right: 2em !important;
}

.stats {
  @include span-columns(6);
  @include omega();
}

@mixin meter-container($color) {
  @extend .stats;
  width: 80%;
  height: 1.25em;
  background-color: $color;
  border-radius: 1.5em;
}

@mixin meter($color) {
  background-color: $color;
  height: 1.25em;
  border-radius: 1.5em;
}

@mixin need-icon($url) {
  width: 1.1em;
  display: inline-block;
  &:after {
  content: url($url + '.svg');
  }
}

// .meter-container-happy {
//   @include span-columns(6);
//   @include omega();
//   width: 80%;
//   height: 1.25em;
//   background-color: $bravo-color-light;
//   border-radius: 1.5em;
// }
// .meter-unhappy {
//   background-color: $alpha-color;
//   height: 1.25em;
//   border-radius: 1.5em;
// }

// .meter-happy {
//   background-color: $bravo-color;
//   height: 1.25em;
//   border-radius: 1.5em;
// }

// .meter-container-unhappy {
//   @include span-columns(6);
//   @include omega();
//   width: 80%;
//   height: 1.25em;
//   background-color: $alpha-color-light;
//   border-radius: 1.5em;
// }

// .hungry {
//   width: 1.1em;
//   display: inline-block;
//   &:after {
//   content: url('hungry.svg');
//   }
// }

// .bored {
//   width: 1.1em;
//   display: inline-block;
//   &:after {
//   content: url('bored.svg');
//   }
// }
