<%- title "Renaming #{@pet.name}" %>
<article class="dashboard">
  <section class="form profile">
<%= render 'nameform' %>
<%= link_to "Back to Pet's Page", pet_path(@pet), class: "btn-profile"%>
<%= link_to "Back to Pet List", pets_path, class: "btn-profile" %>
  </section>
</article>
