<div class="title-panel" align="right">
  <h1>Renaming <%= @pet.name %></h1>
</div>

<div style="height: 50px"></div>
<%= render 'nameform' %>

<br />
<div align="center">
  <%= link_to 'Show', pet_path(@pet), class: "button round"%>
  <%= link_to 'Back', pets_path, class: "button round" %>
</div>
