<%- title "Renaming #{@pet.name}" %>

<div style="height: 50px"></div>
<div class="small-9 columns" align="center">
<%= render 'nameform' %>

<br />
<%= link_to "Back to Pet's Page", pet_path(@pet), class: "button round"%>
<%= link_to "Back to Pet List", pets_path, class: "button round" %>
</div>
