<%- title "#{owner.username}'s Pets" %>

<div style="height: 50px"></div>

<div class="small-9 columns" align="center">
  <% if owner.pets.empty? %>
    <h3><strong><%= owner.username %> doesn't have any pets!</strong></h3>
  <% else %>
    <table>
      <tbody>
        <% owner.pets.each do |pet| %>
          <tr id="<%= dom_id(pet) %>">
            <td><div align="center"><%= link_to image_tag(pet.img_loc, width: '50%'), user_pet_path(owner, pet) %></a><br />
            <h4><%= link_to pet.name, user_pet_path(owner, pet) %></h4></div></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
