<%- title "Your Pets" %>

<div style="height: 50px"></div>

<br />
<div class="small-9 columns" align="center">
  <% if current_user.pets.empty? %>
    <h3><strong>You don't have any pets!</strong></h3>
    <p> Adopt a <%= link_to 'New Pet', new_pet_path, id: "newpet" %>? </p>
  <% else %>
    <table>
      <tbody>
        <% current_user.pets.each do |pet| %>
          <tr id="<%= dom_id(pet) %>">
            <td><div align="center"><%= link_to image_tag(pet.img_loc, width: '50%'), user_pet_path(current_user, pet) %></a><br />
            <h4><%= link_to pet.name, user_pet_path(current_user, pet) %></h4></div></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
