<%- title "#{current_user.username}'s Pets" %>

<% if current_user.pets.empty? %>
    <h3><strong><%= current_user.username %> doesn't have any pets!</strong></h3>
  <% else %>
    <% current_user.pets.each do |pet| %>
      <%= link_to image_tag(pet.img_loc, width: '50%'), user_pet_path(current_user, pet) %>
      <h4><%= link_to pet.name, user_pet_path(current_user, pet) %></h4>
    <% end %>
<% end %>
