<div class="title-panel" align="right">
  <h2>Adopt a Pet</h2>
</div>

<div style="height: 100px"></div>
<div class="row">
  <div class="small-12 columns">
    <%= render 'form' %>
  </div>
</div>

<br />
<div align="center">
  <%= link_to 'Back', user_pets_path(current_user) %>
</div>

