<%- title "Animal Shelter" %>

<div style="height: 50px"></div>
<div class="small-9 columns">
  <div class="row" style="left-padding:-25%">
    <%= render 'form' %>
  </div>
</div>

<br />
<div align="center">
  <%= link_to 'Back', user_pets_path(current_user) %>
</div>
<br />
