<%- title "About" %>

<h3>About:</h3>
<p>ZooBit is a web-based application centered around adopting and caring for virtual pets. Each user starts with one pet slot, but can eventually own up to 5 pets by earning points. The user earns points by interacting with their pets and keeping them all happy. </p>
<p>ZooBit is currently in active development. Our database of users and pets is not as permanent as one might expect, and may be reset to default values at any time. We do apologize for any inconvenience, but we thank you for helping us develop and test this application.</p>
<p>You can learn more about the developers at their websites:
  <ul>
    <li><a href="http://www.samcamus.com">Sam Camus</a></li>
    <li><a href="http://www.aqlien.com">Alex Lien</a></li>
    <li><a href="http://www.katiebrasfield.com">Katie Brasfield</a></li>
    <li><a href="">Dexter Lesaca</a></li>
    <li><a href="">Kevin Lewis</a></li>
  </ul>
</p>
