<%- title "About" %>

<div style="height: 75px"></div>
<div class="medium-9 column">
  <div class="row">
    <h3>About:</h3>
    <p>ZooBit is a web-based application centered around adopting and keeping virtual pets. Each user may get up to 10 pets, and must try to keep them all happy through interacting with them. </p>
    <p>ZooBit is currently in active development. Our database of users and pets is not as permanent as you might expect, and may be reset to default values at any time. We do apologize for any inconvenience, but we thank you for helping us develop and test this application.</p>
    <p>You can learn more about the developers at their websites:
      <ul>
        <li><a href="http://www.samcamus.com">Sam Camus</a></li>
        <li><a href="http://www.aqlien.com">Alex Lien</a></li>
      </ul>
    </p>
    <p>Pet images courtesy of Garrett Sand. Thanks Garrett!</p>
  </div>
</div>
