<%- title "Contact Us" %>


    <p>You can learn more about the developers and contact them at their websites:
      <ul>
        <li><a href="http://www.samcamus.com">Sam Camus</a></li>
        <li><a href="http://www.aqlien.com">Alex Lien</a></li>
      </ul>
    </p>

