<%- title "Contact Us" %>

<div style="height: 75px"></div>
<div class="medium-9 column">
  <div class="row">
    <p>You can learn more about the developers and contact them at their websites:
      <ul>
        <li><a href="http://www.samcamus.com">Sam Camus</a></li>
        <li><a href="http://www.aqlien.com">Alex Lien</a></li>
      </ul>
    </p>
  </div>
</div>
