<%- title "Donate" %>

<h3>Lend Your Support</h3>

<p>We here at Zoobit take animals somewhat irreverantly, but adoption from shelters is an incredibly important option to consider when looking for a new pet.  Pleae consider giving a pet a home that has none rather than contriuting to puppy mills where they are bred strictly for profit.  Below you will find a list of organizations that fund, manage, and support shelters locally and nationally.  Please follow through and learn and donate to protect those animals who aren't fortunate enough to have found their home yet.</p>
