<%- title "FAQ" %>


    <h3>Frequently Asked Questions:</h3>
    <ol>
      <li>Can my pet die?</li>
        <blockquote>Pets on ZooBit currently won't die if you forget to feed them or if they are ignored for a long time. They will, however, be very sad. :( </blockquote>
      <li>How many pets can I have at one time?</li>
        <blockquote>You can currently have up to 10 pets at a time. If you want another pet, you'll have to abandon one of your current ones to make space for a new one! Can you really do that to your poor pet? Shame on you.</blockquote>
      <li>What happens to abandoned pets?</li>
        <blockquote>Abandoned pets are moved to the Animal Shelter, where they stay until there is no more space for new animals. At that point, the animal that has been in the Shelter the longest is removed to make space for the new one. (Sadly it is currently not a no-kill shelter.)</blockquote>
      <li>Why can't I pick my pet's name!? Johnny Depth is a stupid name.</li>
        <blockquote>You can! As soon as you adopt a pet, you can click on the Change Name link under their status bar in your Current Pets panel to rename them at any time.</blockquote>
      <li>Do I need to worry about spaying or neutering my pets?</li>
        <blockquote>Pets in ZooBit cannot breed as of now. Future updates may implement this functionality.</blockquote>
      <li>Can I get an -insert breed here-?</li>
        <blockquote>ZooBit only has about 20 different breeds per species, but if you have suggestions for ones we should add, feel free to <a href="/contact">contact us!</a></blockquote>
      <li>Why can I only adopt a dog, cat, bird, or rabbit?</li>
        <blockquote>Don't worry, you can probably still have your funny farm! More species of animal are likely to be added in the future. :D</blockquote>
    </ol>
    </p>

