@import 'foundation_and_overrides';
@import 'foundation/components/panels';
$bright-orange: #FFA82D;
$bright-blue: #62A1D9;

.orange-bar {
  background-color: $bright-orange;
}

.title-panel {
    @include panel(
    $bg: $bright-blue,
    $padding:5px,
    $adjust:true
  );
  width: 75%;
  position: absolute;
  left: 50%;
  right: 50%;
  margin-left: -50%;
  padding-left: 25%
}

.flash-panel {
  width: 75%;
  position: absolute;
  left: 50%;
  right: 50%;
  margin-left: -50%;
}

.side-panel {
  background-color: $bright-orange;
  width: 25%;
  position: absolute;
  margin-left: 75%;
  padding-left: 100px;
}
