@import 'foundation_and_overrides';
@import 'foundation/components/panels';

$green: #86BF37;
$dark-green: #3A4E1F;
$bright-green: #95E22C;
$light-green: #C8FF7D;

$orange: #FFA82D;
$dark-orange: #8A5100;
$bright-orange: #FF9500;
$light-orange: #FFBB5B;
$pastel-orange: #FFEACD;

$pink: #F47FB2;
$dark-pink: #991C53;
$bright-pink: #FA2D86;
$light-pink: #FF9EC9;

$blue: #62A1D9;
$dark-blue: #102E49;
$bright-blue: #0082F6;
$light-blue: #86B9E6;

$reveal-modal-bg: $light-blue;

.header-panel {
  @include panel(
    $bg: $green,
    $adjust:true
  );
  width: 100%;
}

.header-panel h2 {
  font-family: "39_smoothregular";
}

.orange-bar {
  background-color: $orange;
}

.blue-bar{
  background-color: $blue;
}

.title-panel {
    @include panel(
    $bg: $blue,
    $adjust:true
  );
  position: absolute;
  left: 0px;
  right: 0px;
  height: 4em;
  margin-bottom: 1em;
}

.title-panel h3 {
  color: $dark-blue;
}

.title-panel h4 {
  color: $dark-blue;
}

.flash-panel {
  width: 75%;
  position: absolute;
  left: 50%;
  right: 50%;
  margin-left: -50%;
}

.list-header {
  font-family: "39_smoothregular";
  font-size: 1em;
  background-color: $blue;
  width: 25%;
  height: 4em;
  position: fixed;
  margin-left: 75%;
  padding-top: .5em;
  padding-left: 2em;
  z-index: 2;
}

.list-header h3{
  color: $dark-blue;
}

.pet-list {
  background-color: $light-orange;
  color: $dark-orange;
  width: 25%;
  position: fixed;
  top: 12em;
  bottom: 2em;
  margin-left: 75%;
  border-style: solid;
  border-color: $orange;
  border-width: 1em;
  z-index: 1;
  overflow-y: scroll;
}

.side-nav a {
  color: #FFFFFF;
  font-weight: bold;
}

.callout-panel {
  @include panel(
  $bg: $pastel-orange);
}

.callout-panel h5 {
  color: $dark-orange;
}

.footer-panel {
  @include sub-nav();
  background: $blue;
  width: 110%;
  height: 2em;
  position: fixed;
  bottom: 0px;
  padding-left: 3em;
  z-index: 2;
}

.content-wrapper {
  bottom: 2em;
}
