@import 'foundation_and_overrides';
@import 'foundation/components/panels';
$bright-orange: #FFA82D;
$light-bright-orange: #FFBB5B;
$dark-bright-orange: #D57D00;
$light-pastel-orange: #FFEACD;
$bright-blue: #62A1D9;

.orange-bar {
  background-color: $bright-orange;
}

.title-panel {
    @include panel(
    $bg: $bright-blue,
    $padding:5px,
    $adjust:true
  );
  width: 75%;
  position: absolute;
  left: 50%;
  right: 50%;
  margin-left: -50%;
  padding-left: 25%
}

.flash-panel {
  width: 75%;
  position: absolute;
  left: 50%;
  right: 50%;
  margin-left: -50%;
}

.side-panel {
  background-color: $light-bright-orange;
  width: 25%;
  position: absolute;
  margin-left: 75%;
  padding-top: 10px;
  z-index: 1;
}

.callout-panel {
  @include panel(
  $bg: $light-pastel-orange)
}
