.logo-wrapper {
    position: relative;
}

.logo-wrapper .logo {
    width: 300px;
    height: auto;

    position: absolute;
    left: 75%;
    right: 25%;
    top: 5px;
    margin-left: -150px;
    z-index: 3;
}

// Right part
.top-bar-section ul.right {
    width: 25%;
    padding-left: 100px;
}
.top-bar-section ul.right li {
    float:  left;
}

// Left part
.top-bar-section ul.left {
    width:  75%;
    padding-right: 10em;
}
.top-bar-section ul.left li {
    float:  right;
}
