@import "buttons/manifest";

.profile a.btn-profile {
	background-color: $bravo-color;
	padding: .75em;
	border-radius: 10px;
	border-bottom: 5px solid $charlie-color;
	&:active {
		border-bottom: none;
		position: relative;
		top: 5px;
	}
}
