@import "ui_patterns/manifest";

.header-main {
	background-color: $bravo-color;
  padding: 10px;
  .header-btn-menu {
  	width: 30px;
  }
  .header-logo {
  	width: 50px;
  }
  h1 {
    font-size: 40px;
    display: inline-block;
  } 
}

.main-nav {
	background-color: #313131;
}