@import "ui_patterns/manifest";

.header-main {
	background-color: $bravo-color;
  padding: 10px;
  width: 100%;
  .header-btn-menu {
  	width: 30px;
  }
  .header-logo {
  	 width: 30px;
  }
  h1 {
    font-size: 30px;
    display: inline-block;
  }
}

.main-nav {
	background-color: $charlie-color;
}

footer {
  background-color: gray;
  padding: 1em;
  text-align: center;
  a {
    padding: 0 0.5em;
    &:hover {
      color: white;
    }
  }
}
