<% if flash[:alert] %>
  <p data-alert class="alert-box alert radius">
    <a href="#" class="close" align="left">&times;</a>
    <%= alert %>
  </p>
<% end %>
  <% if flash[:notice] %>
  <p data-alert class="alert-box success radius">
    <a href="#" class="close" align="left">&times;</a>
    <%= notice %>
  </p>
<% end %>
