<% if flash[:alert] %>
  <p data-alert class="alert-box alert radius">
    <%= alert %>
  </p>
<% end %>
  <% if flash[:notice] %>
  <p data-alert class="alert-box success radius">
    <%= notice %>
  </p>
<% end %>
