<div class="sticky">
  <dl class="footer-panel" align="center">
    <dd>
      <a href="/about">About</a>
    </dd>
    <dd>
      <a href="/faq">FAQ</a>
    </dd>
    <dd>
      <a href="/contact">Contact</a>
    </dd>
    <dd>
      <a href="#">Donate</a>
    </dd>
  </dl>
</div>
