<div class="sticky">
  <dl class="footer-panel" align="center">
    <dd>
      <a href="#">About</a>
    </dd>
    <dd>
      <a href="#">FAQ</a>
    </dd>
    <dd>
      <a href="#">Contact</a>
    </dd>
    <dd>
      <a href="#">Donate</a>
    </dd>
  </dl>
</div>
